{% extends 'base.html.twig' %}

{% block title %}Informacje o typie{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Informacje o typie{% endtrans %}</h1>

        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Id{% endtrans %}</div><div class="col-md-9 pad">{{ type.id }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Name{% endtrans %}</div><div class="col-md-9 pad">{{ type.name }}</div></div></div>
        </br>
        {{ include('table/type/form/_delete_form.html.twig') }}
        </br>
        <a href="{{ path('table_type_edit', {'id': type.id}) }}" class="delete btn">{% trans %}Edytuj{% endtrans %}</a>
        </br>
        </br>
        <a href="{{ path('table_type_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
