{% extends 'base.html.twig' %}

{% block title %}Użytkownicy{% endblock %}

{% block body %}

    <div class="container">
        <h1>Użytkownicy</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Użytkownik</th>
                <th>Role</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                    <td>
                        <a href="{{ path('admin_user_info', {'id': user.id}) }}">Pokaż</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Nie znaleziono użytkowników!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        <a href="{{ path('index') }}" class="back">Wróć</a>
    </div>
{% endblock %}
