{% extends 'base.html.twig' %}
{% block title %}Index{% endblock %}

{% block body %}


    <div class="container mar">

    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/online-learning.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Użytkownicy{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/online-learning.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Użytkownicy{% endtrans %} </div>
                                    <a class="btn" href="{{ path('admin_user_index') }}">{% trans %}Pokaż{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/elearning.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Przedmioty{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/elearning.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Przedmioty{% endtrans %} </div>
                                    <a class="btn" href="{{ path('subject_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/online-course.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Kursy{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/online-course.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Kursy{% endtrans %}</div>
                                    <a class="btn" href="{{ path('course_search') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/user.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Profil{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/user.png') }}">
                                <div class="card-block">
                                    <div class="nameblock"> {% trans %}Mój profil{% endtrans %} </div>
                                    <a class="btn" href="{{ path('profile') }}">Pokaż</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>


            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/settings.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Typy{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/settings.png') }}">
                                <div class="card-block">
                                    <div class="nameblock"> {% trans %}Typy{% endtrans %} </div>
                                    <a class="btn" href="{{ path('type_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>

            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/medal.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Oceny{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/medal.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Oceny{% endtrans %} </div>
                                    <a class="btn" href="{{ path('grade_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/advertisement.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Ogłoszenia{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/advertisement.png') }}">
                                <div class="card-block">
                                    <div class="nameblock"> {% trans %}Ogłoszenia{% endtrans %} </div>
                                    <a class="btn" href="{{ path('notice_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/speech-bubble.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Wiadomości{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/speech-bubble.png') }}">
                                <div class="card-block">
                                    <div class="nameblock"> {% trans %}Wiadomości{% endtrans %} </div>
                                    <a class="btn" href="{{ path('notice_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
        </div>

    {% elseif is_granted('ROLE_TEACHER') %}
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="card-flip">
                        <div class="flip">
                            <div class="front">
                                <div class="cardmy">
                                    <img src="{{ asset('img/elearning.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock">{% trans %}Przedmioty{% endtrans %}</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backy">
                                <div class="cardmy">
                                    <img src="{{ asset('img/elearning.png') }}">
                                    <div class="card-block">
                                   <div class="nameblock"> {% trans %}Moje przedmioty{% endtrans %} </div>
                                        <a class="btn" href="{{ path('subject_index') }}">{% trans %}Pokaż{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card-flip">
                        <div class="flip">
                            <div class="front">
                                <div class="cardmy">
                                    <img src="{{ asset('img/online-course.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock">{% trans %}Kursy{% endtrans %}</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backy">
                                <div class="cardmy">
                                    <img src="{{ asset('img/online-course.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock">{% trans %}Moje kursy{% endtrans %} </div>
                                        <a class="btn" href="{{ path('course_search') }}">{% trans %}Więcej{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card-flip">
                        <div class="flip">
                            <div class="front">
                                <div class="cardmy">
                                    <img src="{{ asset('img/user.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock">{% trans %}Profil{% endtrans %}</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backy">
                                <div class="cardmy">
                                    <img src="{{ asset('img/user.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock"> {% trans %}Mój profil{% endtrans %} </div>
                                        <a class="btn" href="{{ path('profile') }}">{% trans %}Pokaż{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card-flip">
                        <div class="flip">
                            <div class="front">
                                <div class="cardmy">
                                    <img src="{{ asset('img/advertisement.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock">{% trans %}Ogłoszenia{% endtrans %}</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backy">
                                <div class="cardmy">
                                    <img src="{{ asset('img/advertisement.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock"> {% trans %}Ogłoszenia{% endtrans %} </div>
                                        <a class="btn" href="{{ path('notice_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card-flip">
                        <div class="flip">
                            <div class="front">
                                <div class="cardmy">
                                    <img src="{{ asset('img/speech-bubble.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock">{% trans %}Wiadomości{% endtrans %}</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backy">
                                <div class="cardmy">
                                    <img src="{{ asset('img/speech-bubble.png') }}">
                                    <div class="card-block">
                                        <div class="nameblock">{% trans %}Wiadomości{% endtrans %}</div>
                                        <a class="btn" href="{{ path('notice_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
            </div>

    {% elseif is_granted('ROLE_USER') %}
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/elearning.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Przedmioty{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/elearning.png') }}">
                                <div class="card-block">
                                    <div class="nameblock"> {% trans %}Moje przedmioty{% endtrans %} </div>
                                    <a class="btn" href="{{ path('subject_index') }}">{% trans %}Pokaż{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/online-course.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Kursy{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/online-course.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Moje kursy{% endtrans %}</div>
                                    <a class="btn" href="{{ path('course_search') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/user.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Profil{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/user.png') }}">
                                <div class="card-block">
                                    <div class="nameblock"> {% trans %}Mój profil{% endtrans %} </div>
                                    <a class="btn" href="{{ path('profile') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/advertisement.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Ogłoszenia{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/advertisement.png') }}">
                                <div class="card-block">
                                    <div class="nameblock"> {% trans %}Ogłoszenia{% endtrans %} </div>
                                    <a class="btn" href="{{ path('notice_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="col-sm-6 col-lg-4">
                <div class="card-flip">
                    <div class="flip">
                        <div class="front">
                            <div class="cardmy">
                                <img src="{{ asset('img/speech-bubble.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Wiadomości{% endtrans %}</div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                                </div>
                            </div>
                        </div>
                        <div class="backy">
                            <div class="cardmy">
                                <img src="{{ asset('img/speech-bubble.png') }}">
                                <div class="card-block">
                                    <div class="nameblock">{% trans %}Wiadomości{% endtrans %}</div>
                                    <a class="btn" href="{{ path('notice_index') }}">{% trans %}Więcej{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div>
        </div>





    {% endif %}
    </div>
{% endblock %}

