{% extends 'base.html.twig' %}

{% block title %}Publiczne{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    {#<section class="home_slider_section">#}
        {#<div class="owl-carousel owl-theme">#}
            {#<div class="item">#}
                {#<img src="http://www.sylwebik.pl/wp-content/uploads/2018/07/coding-924920_1920.jpg" alt="Slider obrazek">#}

                {#<div class="container">#}
                    {#<div class="content">#}
                        {#<div class="slider_title"><h1>vghjvjvjvj</h1></div>#}
                        {#<div class="slider_description">#}
                            {#<h5>gvhvjvhjvh</h5>#}
                        {#</div>#}
                        {#<div class="btn">        <a href="{{ path('login') }}">Logowanie</a></div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="item">#}
                {#<img src="http://www.sylwebik.pl/wp-content/uploads/2018/07/coding-924920_1920.jpg" alt="Slider obrazek">#}
                {#<div class="container">#}
                    {#<div class="content">#}
                        {#<div class="slider_title"><h1>vghgvjvj</h1></div>#}
                        {#<div class="slider_description">#}
                            {#<h5>vgjvgjvjv</h5>#}
                        {#</div>#}
                        {#<div class="btn">        <a href="{{ path('login') }}">Logowanie</a></div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="carousel-wrap">
            <div class="owl-carousel">
                <img src="http://www.sylwebik.pl/wp-content/uploads/2018/07/coding-924920_1920.jpg">
                <img src="http://www.sylwebik.pl/wp-content/uploads/2018/07/coding-924920_1920.jpg">
                <img src="http://www.sylwebik.pl/wp-content/uploads/2018/07/coding-924920_1920.jpg">
                <img src="http://www.sylwebik.pl/wp-content/uploads/2018/07/coding-924920_1920.jpg">
                <img src="http://www.sylwebik.pl/wp-content/uploads/2018/07/coding-924920_1920.jpg">
            </div>
        </div>
    {#</section>#}
    <div class="example-wrapper">
        <h1>Publiczne ✅</h1>

        <a href="{{ path('login') }}">Logowanie</a>
        </br>
        <a href="{{ path('table_subject_index') }}">Przedmioty</a>
        </br>
        <a href="{{ path('register') }}">Rejestracja</a>
        </br>
        <a href="{{ path('table_type_index') }}">Typy</a>
        </br>
        <a href="{{ path('table_grade_index') }}">Oceny</a>
        </br>
        <a href="{{ path('course_search') }}">{% trans %}msgAllCourses{% endtrans %}</a>
    </div>
{% endblock %}
