{% extends 'base.html.twig' %}


{% block title %}Publiczne{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/owl.css') }}">
{% endblock %}
{% block body %}

    <section class="home_slider_section">
        <div class="owl-carousel owl-theme">

            <div class="item">
                <img src="{{ asset('img/komp.jpg') }}">

                <div class="container">
                    <div class="content">
                        <div class="slider_title"><h1>{% trans %}Rejestracja{% endtrans %}</h1></div>
                        <div class="slider_description">
                            <h5>{% trans %}Zarejestruj się i zacznij uczyć się online!{% endtrans %}</h5>
                        </div>
                        <div class="btn"> <a href="{{ path('register') }}">{% trans %}Zarejestruj się{% endtrans %}</a></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('img/komp.jpg') }}">

                <div class="container">
                    <div class="content">
                        <div class="slider_title"><h1>Zaloguj się</h1></div>
                        <div class="slider_description">
                            <h5>Masz juz konto  zaloguj się i zacznij uczyć się w domu</h5>
                        </div>
                        <div class="btn"> <a href="{{ path('login') }}">Logowanie</a></div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="container">
    <div class="row mar">
        <div class="col-md-6">
            <div class="card-flip">
                <div class="flip">
                    <div class="front">
                        <div class="cardmy">
                            <img src="{{ asset('img/login.png') }}">
                            <div class="card-block">
                                <div class="nameblock">{% trans %}Logowanie{% endtrans %}</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                            </div>
                        </div>
                    </div>
                    <div class="backy">
                        <div class="cardmy">
                            <img src="{{ asset('img/login.png') }}">
                            <div class="card-block">
                                <div class="nameblock">{% trans %}Logowanie{% endtrans %} </div>
                                <a class="btn" href="{{ path('login') }}">{% trans %}Zaloguj się{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
        <div class="col-md-6">
            <div class="card-flip">
                <div class="flip">
                    <div class="front">
                        <div class="cardmy">
                            <img src="{{ asset('img/registration.png') }}">
                            <div class="card-block">
                                <div class="nameblock">{% trans %}Rejestracja{% endtrans %}</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                            </div>
                        </div>
                    </div>
                    <div class="backy">
                        <div class="cardmy">
                            <img src="{{ asset('img/registration.png') }}">
                            <div class="card-block">
                                <div class="nameblock">{% trans %}Rejestracja{% endtrans %} </div>
                                <a class="btn" href="{{ path('register') }}">{% trans %}Zarejestruj się{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
        <div class="col-md-6">
            <div class="card-flip">
                <div class="flip">
                    <div class="front">
                        <div class="cardmy">
                            <img src="{{ asset('img/online-learning.png') }}">
                            <div class="card-block">
                                <div class="nameblock">{% trans %}Przedmioty{% endtrans %}</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                            </div>
                        </div>
                    </div>
                    <div class="backy">
                        <div class="cardmy">
                            <img src="{{ asset('img/online-learning.png') }}">
                            <div class="card-block">
                                <div class="nameblock"> {% trans %}Przedmioty{% endtrans %} </div>
                                <a class="btn" href="{{ path('table_subject_index') }}"> {% trans %}Pokaż{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-flip">
                <div class="flip">
                    <div class="front">
                        <div class="cardmy">
                            <img src="{{ asset('img/online-course.png') }}">
                            <div class="card-block">
                                <div class="nameblock"> {% trans %}Kursy{% endtrans %}</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, nostrum!</p>
                            </div>
                        </div>
                    </div>
                    <div class="backy">
                        <div class="cardmy">
                            <img src="{{ asset('img/online-course.png') }}">
                            <div class="card-block">
                                <div class="nameblock"> {% trans %}Kursy{% endtrans %} </div>
                                <a class="btn" href="{{ path('course_search') }}"> {% trans %}Więcej{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/owl.js') }}"></script>

{% endblock %}