{% extends 'base.html.twig' %}

{% block title %}Wiadomości{% endblock %}

{% block body %}

    <div class="container">
        <h1>Wiadomości</h1>

        <a href="{{ path('conversation_user_index', {'id': conversation.id}) }}" class="btn">Użytkownicy</a>
        <div class="headertable"> <div class="row"><div class="col-md-2">{% trans %}Id{% endtrans %}</div><div
                        class="col-md-2">{% trans %}Użytkownik{% endtrans %}</div><div class="col-md-8">{% trans
                    %}Wiadomość{% endtrans %}</div></div></div>

        {% for message in messages %}
        <div class="listtable">
            <div class="row">
                <div class="col-md-2 pad">
                    {{ message.id }}
                </div>

                <div class="col-md-2 pad">
                    {{ message.owner.username }}
                </div>

                <div class="col-md-8 pad">
                    {{ message.message }}
                </div></div></div>


            {% else %}
             Nie znaleziono wiadomości!
            {% endfor %}
            </tbody>
        </table>
        {{ include('conversation/conversation/form/_message_new_form.html.twig', {'button_label': 'Napisz'}) }}
        <a href="{{ path('conversation_user_index', {'id': conversation.id}) }}">Użytkownicy zapisani</a>
        </br>
        <a href="{{ path('conversation_index') }}">Wróć</a>
    </div>
{% endblock %}
