{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Przedmiot ✅</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ subject.name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ subject.description }}</td>
            </tr>
            <tr>
                <th>ECTS</th>
                <td>{{ subject.ects }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('subject_index') }}">Wróć do listy</a>

        <a href="{{ path('subject_edit', {'id': subject.id}) }}">Edytuj</a>

        {{ include('subject/form/_delete_form.html.twig') }}
    </div>
{% endblock %}