{% extends 'base.html.twig' %}

{% block title %}Kursy użytkowników{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Kursy użytkowników ✅</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Kurs</th>
                <th>Użytkownik</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for user_course in user_courses %}
                <tr>
                    <td>{{ user_course.id }}</td>
                    <td>{{ user_course.course.name }}</td>
                    <td>{{ user_course.user.username }}</td>
                    <td>{{ user_course.status }}</td>
                    <td>
                        <a href="{{ path('user_course_info', {'id': user_course.id}) }}">Pokaż</a>
                        <a href="{{ path('user_course_edit', {'id': user_course.id}) }}">Edytuj</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Nie znaleziono kursów użytkowników!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
        <a href="{{ path('user_course_new') }}">Dodaj kurs użytkownika</a>
        </br>
        <a href="{{ path('index') }}">Wróć</a>
    </div>
{% endblock %}