{% extends 'base.html.twig' %}

{% block title %}Twoje kursy{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Twoje kursy{% endtrans %}</h1>
        </br>
        <a class="btn" href="{{ path('course_new') }}">{% trans %}Dodaj kurs{% endtrans %}</a>
        </br>
        </br>

        <div class="headertable"> <div class="row"><div class="col-md-2">{% trans %}Właściciel{% endtrans %}</div><div class="col-md-2">Przedmiot</div><div class="col-md-1">Typ</div><div class="col-md-2">{% trans %}Nazwa{% endtrans %}</div><div class="col-md-3">Opis</div><div class="col-md-2">{% trans %}Akcje{% endtrans %}</div></div></div>

        {% for course in courses %}
            <div class="listtable">
                <div class="row">
                    <div class="col-md-2 pad">{{ course.owner.username }}</div>
                    <div class="col-md-2 pad">{{ course.subject.name }}</div>
                    <div class="col-md-1 pad"> {{ course.type.name }}</div>
                    <div class="col-md-2 pad">{{ course.name }}</div>
                    <div class="col-md-3 pad">{{ course.description }}</div>
                    <div class="col-md-2 pad">  <a href="{{ path('course_edit', {'id': course.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" width="30px" viewBox="0 0 55.25 55.25" style="enable-background:new 0 0 55.25 55.25;" xml:space="preserve">
<path d="M52.618,2.631c-3.51-3.508-9.219-3.508-12.729,0L3.827,38.693C3.81,38.71,3.8,38.731,3.785,38.749  c-0.021,0.024-0.039,0.05-0.058,0.076c-0.053,0.074-0.094,0.153-0.125,0.239c-0.009,0.026-0.022,0.049-0.029,0.075  c-0.003,0.01-0.009,0.02-0.012,0.03l-3.535,14.85c-0.016,0.067-0.02,0.135-0.022,0.202C0.004,54.234,0,54.246,0,54.259  c0.001,0.114,0.026,0.225,0.065,0.332c0.009,0.025,0.019,0.047,0.03,0.071c0.049,0.107,0.11,0.21,0.196,0.296  c0.095,0.095,0.207,0.168,0.328,0.218c0.121,0.05,0.25,0.075,0.379,0.075c0.077,0,0.155-0.009,0.231-0.027l14.85-3.535  c0.027-0.006,0.051-0.021,0.077-0.03c0.034-0.011,0.066-0.024,0.099-0.039c0.072-0.033,0.139-0.074,0.201-0.123  c0.024-0.019,0.049-0.033,0.072-0.054c0.008-0.008,0.018-0.012,0.026-0.02l36.063-36.063C56.127,11.85,56.127,6.14,52.618,2.631z   M51.204,4.045c2.488,2.489,2.7,6.397,0.65,9.137l-9.787-9.787C44.808,1.345,48.716,1.557,51.204,4.045z M46.254,18.895l-9.9-9.9  l1.414-1.414l9.9,9.9L46.254,18.895z M4.961,50.288c-0.391-0.391-1.023-0.391-1.414,0L2.79,51.045l2.554-10.728l4.422-0.491  l-0.569,5.122c-0.004,0.038,0.01,0.073,0.01,0.11c0,0.038-0.014,0.072-0.01,0.11c0.004,0.033,0.021,0.06,0.028,0.092  c0.012,0.058,0.029,0.111,0.05,0.165c0.026,0.065,0.057,0.124,0.095,0.181c0.031,0.046,0.062,0.087,0.1,0.127  c0.048,0.051,0.1,0.094,0.157,0.134c0.045,0.031,0.088,0.06,0.138,0.084C9.831,45.982,9.9,46,9.972,46.017  c0.038,0.009,0.069,0.03,0.108,0.035c0.036,0.004,0.072,0.006,0.109,0.006c0,0,0.001,0,0.001,0c0,0,0.001,0,0.001,0h0.001  c0,0,0.001,0,0.001,0c0.036,0,0.073-0.002,0.109-0.006l5.122-0.569l-0.491,4.422L4.204,52.459l0.757-0.757  C5.351,51.312,5.351,50.679,4.961,50.288z M17.511,44.809L39.889,22.43c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0  L16.097,43.395l-4.773,0.53l0.53-4.773l22.38-22.378c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L10.44,37.738  l-3.183,0.354L34.94,10.409l9.9,9.9L17.157,47.992L17.511,44.809z M49.082,16.067l-9.9-9.9l1.415-1.415l9.9,9.9L49.082,16.067z"/>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
</svg></a>
                        <a href="{{ path('course_info', {'id': course.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="30px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
<g>
    <g>
        <path d="M503.698,231.895c-28.735-36.843-65.956-67.318-107.637-88.128c-42.548-21.243-88.321-32.265-136.104-32.843    c-1.316-0.036-6.6-0.036-7.916,0c-47.782,0.579-93.556,11.6-136.104,32.843c-41.681,20.81-78.9,51.284-107.636,88.128    c-11.07,14.193-11.07,34.018,0,48.211c28.735,36.843,65.955,67.318,107.636,88.128c42.548,21.243,88.321,32.265,136.104,32.843    c1.316,0.036,6.6,0.036,7.916,0c47.782-0.579,93.556-11.6,136.104-32.843c41.681-20.81,78.901-51.284,107.637-88.128    C514.768,265.911,514.768,246.088,503.698,231.895z M125.242,349.599c-38.92-19.432-73.678-47.892-100.517-82.303    c-5.187-6.651-5.187-15.94,0-22.591c26.838-34.411,61.596-62.871,100.517-82.303c11.054-5.518,22.342-10.29,33.839-14.33    c-29.578,26.588-48.213,65.12-48.213,107.928c0,42.81,18.636,81.345,48.217,107.932    C147.588,359.892,136.297,355.118,125.242,349.599z M256,380.303c-68.542,0-124.304-55.762-124.304-124.304    S187.458,131.696,256,131.696S380.304,187.458,380.304,256S324.542,380.303,256,380.303z M487.275,267.295    c-26.838,34.411-61.596,62.871-100.517,82.303c-11.041,5.512-22.322,10.263-33.805,14.299    c29.558-26.587,48.179-65.107,48.179-107.898c0-42.814-18.64-81.351-48.223-107.939c11.5,4.041,22.793,8.819,33.85,14.34    c38.92,19.432,73.678,47.892,100.517,82.303C492.462,251.355,492.462,260.644,487.275,267.295z"/>
    </g>
</g>
                                <g>
                                    <g>
                                        <path d="M256,202.804c-29.332,0-53.195,23.863-53.195,53.195s23.863,53.195,53.195,53.195s53.195-23.863,53.195-53.195    C309.196,226.667,285.333,202.804,256,202.804z M256,288.367c-17.847,0-32.368-14.519-32.368-32.368    c0-17.848,14.519-32.367,32.368-32.367c17.847,0,32.367,14.519,32.367,32.367C288.368,273.848,273.847,288.367,256,288.367z"/>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
</svg></a>
                        <a href="{{ path('course_show', {'id': course.id}) }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" width="30px" x="0px" y="0px" viewBox="0 0 178.833 178.833" style="enable-background:new 0 0 178.833 178.833;" xml:space="preserve">
<path d="M33.441,178.833c-0.012,0-0.023,0-0.034,0H16.396c-1.381,0-2.5-1.119-2.5-2.5V2.5  c0-1.381,1.119-2.5,2.5-2.5h146.04c1.381,0,2.5,1.119,2.5,2.5v173.832c0,1.381-1.119,2.5-2.5,2.5h-17.049  c-1.381,0-2.5-1.119-2.5-2.5V22.048H84.796l47.439,4.63c1.28,0.125,2.257,1.202,2.257,2.488V164.5c0,1.266-0.945,2.332-2.202,2.482  L33.78,178.81c-0.063,0.009-0.127,0.015-0.191,0.019C33.539,178.831,33.49,178.833,33.441,178.833z M147.887,173.832h12.049V5  H18.896v168.832h12.048V19.58c-0.001-0.049,0-0.098,0.003-0.147c0.014-0.301,0.08-0.588,0.191-0.853  c0.136-0.323,0.337-0.61,0.585-0.845c0.282-0.268,0.626-0.47,1.009-0.583c0.235-0.07,0.489-0.103,0.74-0.103h111.915  c1.381,0,2.5,1.119,2.5,2.5V173.832z M35.944,22.304v151.209l93.548-11.231V31.435L35.944,22.304z M116.541,104.531  c-4.25,0-7.708-4.187-7.708-9.333s3.458-9.333,7.708-9.333s7.708,4.187,7.708,9.333S120.791,104.531,116.541,104.531z   M116.541,90.864c-1.281,0-2.708,1.78-2.708,4.333s1.427,4.333,2.708,4.333s2.708-1.78,2.708-4.333S117.822,90.864,116.541,90.864z"/>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
</svg></a></div>
                </div></div>
        {% else %}
            {% trans %}Nie znaleziono kursów!{% endtrans %}

        {% endfor %}



        </br>

        </br>
        <a href="{{ path('index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
