{% extends 'base.html.twig' %}

{% block title %}Informacje o kursie{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Informacje o kursie{% endtrans %}</h1>
<div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Id{% endtrans %}</div><div class="col-md-9 pad"> {{ course.id }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Id wlaściciela{% endtrans %}</div><div class="col-md-9 pad">{{ course.owner.id }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Id przedmiotu{% endtrans %}</div><div class="col-md-9 pad">{{ course.subject.id }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Id typu{% endtrans %}</div><div class="col-md-9 pad"> {{ course.type.id }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Nazwa{% endtrans %}</div><div class="col-md-9 pad">{{ course.name }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Opis{% endtrans %}</div><div class="col-md-9 pad">{{ course.description }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Hasło{% endtrans %}</div><div class="col-md-9 pad">{{ course.password }}</div></div></div>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %} </br>
        {{ include('course/course/form/_delete_form.html.twig') }}
        </br>
        <a class="btn" href="{{ path('course_edit', {'id': course.id}) }}">{% trans %}Edytuj{% endtrans %}</a>{% endif %}
        </br>   </br>
        <a href="{{ path('course_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
