{% extends 'base.html.twig' %}

{% block title %}Kurs{% endblock %}

{% block body %}


    <div class="container">
        <h1>Kurs</h1>

        <a href="{{ path('course_user', {'id': course.id}) }}" class="btn">{% trans %}Użytkownicy kursu{% endtrans
            %}</a>

        <a href="{{ path('course_notice_new', {'id': course.id}) }}" class="btn delete">{% trans %}Dodaj nowe
                powiadomienia do
                kursu{%
                endtrans %}</a>

        <a href="{{ path('course_section_new', {'id': course.id}) }}" class="btn">{% trans %}Nowa sekcja w kursie{%
                endtrans
            %}</a>
        </br>
        {% for section in course.sections %}
            <h2>{{ section.name }}</h2> {{ include('course/section/form/_delete_form.html.twig', {'button_label': '<span>&#10006;</span>'}) }}
            <a href="{{ path('course_task_new', {'id': section.id}) }}" class="btn">{% trans %}Nowe zadanie{% endtrans
                %}</a>

            </br>
            {% for task in section.tasks %}
                <h3>{{ task.name }}</h3>
                <a href="{{ path('course_task_edit', {'id': task.id}) }}">Edytuj zadanie</a>
                {{ include('course/task/form/_delete_form.html.twig', {'button_label': 'Usuń zadanie'}) }}
                {{ task.contents }}
                {% for file in task.files %}
                    {% if file.user.id == course.owner.id %}
                        </br>
                        <a href="{{ asset('files/' ~ file.file) }}">{{ file.name }}</a>
                        {{ include('course/file/form/_delete_form.html.twig', {'button_label': 'Usuń plik'}) }}
                    {% endif %}
                {% endfor %}
                {% if task.isFile == true %}
                    </br>
                    <a href="{{ path('course_file_new', {'id': task.id}) }}">{% trans %}Prześlij plik{% endtrans %}</a>
                {% endif %}
            {%  else %}
                <h3>{% trans %}Nie znaleziono zadań!{% endtrans %}</h3>
            {% endfor %}
        {% else %}
            <h3>{% trans %}Nie znaleziono sekcji!{% endtrans %}</h3>
        {% endfor %}
        </br>  </br>
        <a href="{{ path('course_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
