{% extends 'base.html.twig' %}

{% block title %}Twoje oceny{% endblock %}

{% block body %}

    <div class="container">
        <h1>Twoje oceny do kursu {{ course.name }}</h1>
        <div class="headertable">
<div class="row"><div class="col-md-8">Nazwa tematu</div><div class="col-md-2">Waga oceny</div><div class="col-md-2">Ocena</div></div></div>
        {% for grade in sectionsGrades %}
        <div class="listtable">
            <div class="row">
                <div class="col-md-8 pad">{{ grade.section.name }} </div>
            <div class="col-md-2 pad">{{ grade.section.weight }}</div>
            <div class="col-md-2 pad">{{ grade.grade.grade }}</div></div></div>

            </br>
        {% endfor %}
        {% if courseGrade is not null %}
            {{ courseGrade.course.name }} => {{ courseGrade.grade.grade }}
        {% endif %}
        </br>
        <a href="{{ path('course_index') }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
