{% extends 'base.html.twig' %}

{% block title %}Użytkownik{% endblock %}

{% block body %}


    <div class="container">
        <h1>Użytkownik</h1>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Id{% endtrans %}</div><div class="col-md-9 pad">{{ userInfo.id }}</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Nr albumu {% endtrans
                    %}</div><div
                        class="col-md-9 pad">NR albumu</div></div></div>
        <div class="listtable"><div class="row"><div class="col-md-3 pad bold">{% trans %}Użytkownik{% endtrans %}</div><div class="col-md-9 pad"> {{ userInfo.username }}</div></div></div>

        </br>
        {% for section in course.sections %}



            <div class="crud_zad"><span class="zad">{{ section.name }} </span>


            </div>




            {% for grade in section.grades %}
                {% if grade.user.id == userInfo.id %}
                    {{ grade.grade.grade }}
                {% endif %}
            {% endfor %}
            <a href="{{ path('course_user_grade_new', {'sectionId': section.id, 'userId': userInfo.id}) }}">Dodaj ocenę cząstkową</a>
            {% for task in section.tasks %}
                <h3>{{ task.name }}</h3>
                {% for file in task.files %}
                    {% if userInfo.id == file.user.id %}
                        <a href="{{ asset('files/' ~ file.file) }}">{{ file.name }}</a>
                        </br>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </br>
        <a href="{{ path('course_user_grade_end', {'courseId': course.id, 'userId': userInfo.id}) }}">Dodaj ocenę końcową</a>
        </br>
        <a href="{{ path('course_user', {'id': course.id}) }}" class="back">{% trans %}Wróć{% endtrans %}</a>
    </div>
{% endblock %}
