{% extends 'base.html.twig' %}

{% block title %}Użytkownik{% endblock %}

{% block body %}


    <div class="container">
        <h1>Użytkownik</h1>
        <table>
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userInfo.id }}</td>
            </tr>
            <tr>
                <th>Użytkownik</th>
                <td>{{ userInfo.username }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ userInfo.roles ? userInfo.roles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Hasło</th>
                <td>{{ userInfo.password }}</td>
            </tr>
            </tbody>
        </table>
        </br>
        <a href="{{ path('course_user', {'id': course.id}) }}">Wróć</a>
    </div>
{% endblock %}
